In [ ]:
import pandas as pd
from config2 import pwrd
import warnings
from sqlalchemy import create_engine
warnings.filterwarnings('ignore')

In [ ]:
#reload csv for SQL Load
df1 = pd.read_csv("data/movies.csv")

In [ ]:
#drop Unnamed column
df1 = df1.drop(['Unnamed: 0'], axis=1)

In [ ]:
#rename Rotten Tomatoes column
df1.rename(columns = {'Rotten Tomatoes':'Rotten_Tomatoes'}, inplace = True)

In [ ]:
#rename Rotten Tomatoes column
df1.rename(columns = {'Rotten Tomatoes':'Rotten_Tomatoes'}, inplace = True)

In [ ]:
#connect to local database
rds_connection_string = "postgres:"+ pwrd + "@localhost:5432/movie_finder"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:

#export movie data to SQL
df1.to_sql(name='movies', con=engine, if_exists='replace', index=True)

In [ ]:

#check tables
engine.table_names()
['movies']

In [ ]:
#add primary key
engine.execute('alter table movies add primary key(index)')

In [ ]:
#read tables from SQL
pd.read_sql("SELECT * FROM movies",con=engine)